Library/
Logs/
Temp/
.vsconfig
*.csproj
*.sln
.vs/
obj/
ProjectSettings/SceneTemplateSettings.json
UserSettings/Layouts/default-2022.dwlt
UserSettings/Search.index
UserSettings/Search.settings
UserSettings/Layouts/default-2021.dwlt
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta
ProjectSettings/boot.config
*.dwlt
Build/
ExRes/
